<div>
<h1>Welcome to {{ title }}</h1>
<p>
  Last updated: <time>{{lastUpdated | amTimeAgo}}</time>
</p>
<p>
  <button (click)="resetLastUpdated()">Reset</button>
</p>
<hr>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Please enter date"
         (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

</div>