<fieldset>
  <legend><strong>{{ title }} </strong></legend>
  <br>
  <div>
    Pick date from calendar or enter it as <strong>8/24/18, 9:00 PM</strong> or combine both types of input
    <hr>
    <mat-form-field>
      <input #input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="resetDate()">Clear date</button>
    </div>
    <div *ngIf=showElapsed>
      <hr> Elapsed time since {{userInput | date: 'short'}} is: <time>{{userInput | amTimeAgo }}</time>
    </div>
  </div>
</fieldset>